.project-tile {
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  overflow: visible;
}

.project-image {
  height: 80%;
  overflow: hidden;
  z-index: 10;
}

.project-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-image img {
  max-height: 150%;
  object-fit: cover;
}

.project-info .project-link {
  height: 20%;
  width: 100%;
  background-color: var(--terciary);
  color: var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-info:hover .project-link-detail {
  color: var(--secondary);
}

.project-info:hover {
  outline: 3px solid white;
  box-shadow: 0 0 10px 5px var(--secondary);
}

.project-link-detail {
  padding: 0.3em;
  font-weight: 400;
  color: var(--terciary);
}

#project-stack {
  color: var(--secondary);
  width: 100%;
  height: 100%;
  margin-bottom: 10;
  position: absolute;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  pointer-events: none;
}

.project-tile:hover #project-stack {
  transform: translateY(-60%);
}

.tech-icon {
  font-size: 3em;
}